<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Cousine|Inconsolata|PT+Mono" rel="stylesheet">
    <title>Planner</title>
  </head>

  <body>
    <div id="app" class="grid-container">
      <div class="section daySection">

      </div>
      <div class="section noteSection">
        <div class="todos">
          <h2>To-do</h2>
          <input type="text" placeholder="new item" v-model="todoTemp" @keydown.enter="addTodo('todo')">
          <button @click="addTodo('todo')">Add Item</button>
          <ul>
            <!-- v-for iterates through the todo objects in the array
            v-bind:item binds the individual todo object so it can be dynamic
            v-bind:key is needed when using v-for so vue can keep track each node's identity
            @delete-todo listens for an event emited by the child component
            -->
            <todo-item
            v-for='(item, index) in todo'
            v-bind:item='item'
            v-bind:key='item.id'
            @delete-todo='todo.splice(index, 1)'>
            </todo-item>
          </ul>
        </div>

        <div class="weeklyTodos">
          <h2>Weekly To-do</h2>
          <input type="text" placeholder="new item" v-model="weekTodoTemp" @keydown.enter="addTodo('weekTodo')">
          <button @click="addTodo('weekTodo')">Add Item</button>
          <ul>
            <!-- Same descriptions apply as for todo-item -->
            <todo-item
            v-for='(item, index) in weeklyTodo'
            v-bind:item='item'
            v-bind:key='item.id'
            @delete-todo='weeklyTodo.splice(index, 1)'>
            </todo-item>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  var app = new Vue({
    el: '#app',
    //data holds the propeties for the vue instance, having data as a function allows for the ability to not overwrite data so there can multiple instances of the same data type
    data: function() {
      return {
        todoTemp: '',
        weekTodoTemp: '',
        todo: [{id: 0, type: 'todo', text: 'dummy'}],
        weeklyTodo: [{id: 0, type: 'weekTodo', text: 'dummy'}],
        daysOfWeek: [],
      }
    },

    //components are handy for creating reuseable elements
    components: {
      //components must have names that are at least two words and in kebab case
      'todo-item': {
        //props are data that are passed down from the parent to the child, without them you wouldn't be able to access data from the parent
        props: ['item'],
        data: function() {
          return {
            crossedOut: false,
          }
        },
        //templates are the framework for the element that will appear in the DOM
        template: '<li v-bind:class="{lineThrough: crossedOut}" @click="crossOut" @click.shift="deleteItem">{{item.text}}</li>',
        //component methods are functions that can only be used on the component that they are defined in
        methods: {
          crossOut: function() {
            this.crossedOut = !this.crossedOut;
          },
          deleteItem: function() {
            // let todoItem = this.todo;
            //children/components can emit events up to the parent using $emit('EVENT-NAME') they can even pass along data
            this.$emit('delete-todo');
          },
        },
      },
    },
    //methods are functions that can be used to manipulate the data of the vue instance
    methods: {
      generateID: function(length) {
        return Math.random().toString(36).substring(length);
      },
      addTodo: function(type) {
        if (type === "todo") {
          //this refers to the Vue instance, must be used in order to access data
          let todoID = this.generateID(2);
          this.todo.push({id: todoID, type: 'todo', text: this.todoTemp});
          this.todoTemp = "";
        }
        else if (type === "weekTodo") {
          let todoID = this.generateID(2);
          this.weeklyTodo.push({id: todoID, type: 'weekTodo', text: this.weekTodoTemp});
          this.weekTodoTemp = "";
        }
      },
    },
  });
</script>

<style>
  /*
    http://www.tayloredmktg.com/rgb/
    Snow: #fffafa
    Snow 4: #8b8989
    Old Lace: #fdf5e6
    Cornsilk: #fff8dc
    Najavo White: #ffdead
    Lemon Chiffon: #fffacd
    Azure: #f0ffff
    Lavender: #e6e6fa
    Misty Rose: #ffe4e1
  */
  body, button, input {
    /* font-family: 'Inconsolata', monospace; */
    /* font-family: 'Cousine', monospace; */
    /* font-family: 'PT Mono', monospace; */
  }
  .grid-container {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr;
  }
  .section {
    padding: 1% 2%;
  }
  .daySection {
    background: #f0ffff;
  }
  .noteSection {
    background: #fff8dc;
  }
  .lineThrough {
    text-decoration: line-through;
  }
</style>
